@{
    ViewData["Title"] = "Account Page";
}

<div class="text-center">
    <h1 class="display-4">Log In / Create Account </h1>
    @* TODO: Buttons for Login or Create Account *@
    @* TODO: Form for login and registration *@
</div>