@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Your Local Shop!</h1>
    <p class="lead">Choose where to go:</p>

    <div class="d-grid gap-3 col-6 mx-auto mt-4">
        <a class="btn btn-primary btn-lg" asp-controller="Products" asp-action="Index">
            Start Browsing
        </a>
        <a class="btn btn-outline-secondary btn-lg" asp-controller="Account" asp-action="Login">
            Accounts Page
        </a>
    </div>
</div>