@{
    ViewData["Title"] = "Search Bar";
}

<div class="text-center">
    <h1 class="display-4"> Search </h1>
    @* TODO: Buttons for Login or Create Account *@
    @* TODO: Form for login and registration *@
</div>